<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css"> 
    <title>Document</title>
</head>
<body>
    <table id="tcursos">
        <thead>
            <tr>
                <th class="Tabla_cursos">Código</th>
                <th class="Tabla_cursos" >Nombre</th>
                <th class="Tabla_cursos" >Docente</th>
                <th class="Tabla_cursos"></th>
                <th class="Tabla_cursos"></th>
            </tr>
        </thead>
        <tbody>

         </tbody>
    </table>
    <a href="agregarCursos.html" class="button">Agregar</a>
    <a href="../index.html" class="button">volver</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../js/cursos.js"></script>
    
</body>
</html>